apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-web
  labels:
    app: django
    tier: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django
      tier: web
  template:
    metadata:
      labels:
        app: django
        tier: web
    spec:
      containers:
        - name: django
          image: django_app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: django-secret
                  key: SECRET_KEY
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: django-secret
                  key: DATABASE_URL
            - name: DEBUG
              value: "False"
            - name: ALLOWED_HOSTS
              value: "127.0.0.1,localhost,192.168.49.2"
